doctype html
html
  head
    meta charset="UTF-8"
    title Borderlands 1 coop speedrun script
    link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    scss:
      $col-width: 260px;

      @mixin vendor($prop, $value) {
        -webkit-#{$prop}: $value;
           -moz-#{$prop}: $value;
                #{$prop}: $value;
      }

      * {
        font-family: sans-serif;
        font-size: 12px;
        box-sizing: border-box;
      }
      ul { margin: 10px 0; padding: 3px 5px; list-style: none; }
      ul ul { margin: 0; margin-left: 1em; padding: 0; }
      ul li:before { content: "\2013\020"; } /* en-dash, space */
      .ribbon {
        width: 100%;
        position: fixed;
        top: 0;
        background-color: white;
      }
      .specs {
        width: 1440px;
        height: 155px;
      }
      .specs:before,
      .specs:after { content: " "; display: table }
      .specs:after { clear: both; }
      .column {
        padding: 10px;
        min-width: 150px;
        height: 100%;
        position: relative;
        float: left;
      }
      .lilith { background-color: lightcoral; }
      .roland { background-color: steelblue; }
      .script {
        margin-top: 155px;
        padding: 5px;
        height: 750px;
        @media (min-height: 970px) { height: 970px; }
        @media (min-height: 1170px) { height: 1170px; }
        @include vendor(column-width, $col-width);
        @include vendor(column-gap, 0);
      }
      .script div { padding: 0 15px; overflow: auto; }
      .blue { background-color: blue; }
      .darkblue { background-color: darkblue; }
      .green { background-color: darkgreen; }
      .orange { background-color: darkorange; }
      .crimson { background-color: crimson; }
      .red { background-color: red; }
      ul.pink { background-color: lightpink; }
      ul.aqua { background-color: aquamarine; }
      ul.green { background-color: greenyellow; }
      ul.gold { background-color: gold; }
      ul.blue { background-color: lightblue; }
      ul.cyan { background-color: lightcyan; }

  body
    .ribbon
      .specs
        .column.lilith
          markdown:
            6-10: 5xSlayer  
            11-15: 5xQuicksilver  
            16-17: 2xHit & Run  
            18-20: 3xDiva  
            21-23: 3xHit & Run
        .column.roland
          markdown:
            6-10 Impact  
            11-15 Scattershot  
            16-20 Metal Storm  
              
            23 3x Fitness
        .column.lilith
          markdown:
            Reset for α @24, after Skagzilla:  
            5x Quicksilver  
            5x Resiliance  
            5x Intuition  
            4x Slayer
        .column.roland
          markdown:
            24 Fitness
        .column.lilith
          markdown:
            Reset @25, Krom's Canyon:  
            5x Quicksilver  
            5x Slayer  
            5x Hit & Run  
            5x High Velocity  
              
            26-27: 2xDiva
        .column.roland
          markdown:
            Reset @25, Trash Coast:  
            5x Impact  
            5x Scattershot  
            5x Fitness  
            5x Overload  
              
            26-30 Metal Storm
        .column.lilith
          markdown:
            Reset @28:  
            5x Diva  
            5x Inner Glow  
            5x Hard to Get  
            5x Slayer  
            3x Hit & Run  
              
            29: Hit & Run
        .column.lilith
          markdown:
            Reset @30:  
            5x Diva  
            5x Quicksilver  
            5x Slayer  
            5x Enforcer  
            5x High Velocity

    .script
      markdown:
        {:challenge: .fa.fa-hand-peace-o}
        {:accept: .fa.fa-question}
        {:progress: .fa.fa-refresh}
        {:turnin: .fa.fa-share}
        {:complete: .fa.fa-check}

        **Host Lilith, Client Roland**

        <div markdown="1" class="darkblue">
        - **L** <i/>{:: challenge} What's in here - 35/50 + chest
        - **R** Trigger Claptrap zones
        - **L** <i/>{:: challenge} Relentless
          - **R** Tries it if **L** gets it before the crawl gate
        - **L** Picks up chest loot: Hyperion pistol (the red one)
        ^
        {: .pink}
        - <i/>{:: turnin} Fresh off the Bus
        - <i/>{:: accept} The Doctor Is In
        ^
        {: .aqua}
        - Restart
        ^
        {: .green}
        - **L** <i/>{:: challenge} What's in here - ~45/50 (in Fyrestone)
        - **R** <i/>{:: turnin} The Doctor Is In
        - **R** <i/>{:: accept} Skags At The Gate
          - **L** Triggers Claptrap zones
          - **L** Lure skags from nerby dens
        ^
        {: .gold}
        - **R** Helps kill bandits at the gate
        - <i/>{:: accept} Claptrap Rescue
        - **R** <i/>{:: progress} Claptrap Rescue
          - **R** Heads for start chest if it didn't give a sniper,
          - Otherwise helps turn in quests
        ^
        {: .blue}
        - **L** <i/>{:: turnin} Claptrap Rescue
        - **R**/**L** <i/>{:: turnin} Skags At The Gate
        - **R**/**L** <i/>{:: complete} Fix'er Upper
        - **R**/**L** <i/>{:: accept} Blinding Nine-Toes
        - <i/>{:: challenge} Impulse buyer
        ^
        {: .cyan}
        - Restart
          - Dup start chest weapon
        {: .pink}
        </div>

        <div markdown="1" class="orange">
        - **L** <i/>{:: challenge} What's in here - 50/50
        - **L** <i/>{:: challenge} Chain Killer
          - **R** Assists **L**
        - **R** Heads to Fyrestone, **L** to T.K. Baha
        ^
        {: .aqua}
        - **R** <i/>{:: turnin} Blinding Nine-Toes
        - **R** <i/>{:: accept} Nine-Toes: Meet T.K. Baha
        - **L** <i/>{:: turnin} Nine-Toes: Meet T.K. Baha
        - **L** <i/>{:: complete} Nine-Toes: T.K.'s Food
        ^
        {: .green}
        - **L** <i/>{:: accept} Got Grenades?
        - **R** Buy grenades and checks for Bouncing Betty
        - **L** <i/>{:: turnin} Got Grenades?
        - **L** <i/>{:: accept} Nine-Toes: Take Him Down
        ^
        {: .blue}
        - Enter Skag Gully
        - <i/>{:: progress} Nine-Toes: Take Him Down
        ^
        {: .gold}
        - Restart
        {: .pink}
        </div>

        <div markdown="1" class="red">
        - Enter Arid Badlands
        ^
        {: .aqua}
        - **R** heads for T.K. Baha, **L** for Fyrestone
        - **R** <i/>{:: turnin} Nine-Toes: Take Him Down
        - **R** <i/>{:: accept} Nine-Toes: Time To Collect
        - **R** Heads for Outpost Arid Badlands
        - **L** <i/>{:: turnin} Nine-Toes: Time To Collect
        - **L** <i/>{:: complete} Job Hunting
        - **L** Buy grenades and check for Bouncing Betty
        - **L** <i/>{:: complete} Catch-A-Ride
        - **L** <i/>{:: accept} Bone Head's Theft
        - **L** Heads for Outpost Arid Badlands
        ^
        {: .green}
        - Use cars to <i/>{:: progress} Bone Head's Theft
          - Pick up: Bone Shredder
          - Dup on next restart once having both this and Bouncing Betty
        - <i/>{:: turnin} Bone Head's Theft
        - <i/>{:: complete} The Piss Wash Hurdle
          - <i/>{:: challenge} Orbit Achieved
        ^
        {: .gold}
        - Restart
        {: .blue}
        </div>
        
        <div markdown="1" class="blue">
        - <i/>{:: complete} Return To Zed
        - <i/>{:: accept} Sledge: Meet Shep
        - <i/>{:: accept} Get A Little Blood On The Tires
        ^
        {: .cyan}
        - Restart until getting Bouncing Betty if still missing
        ^
        {: .pink}
        - Head for Outpost Arid Badlands
        - <i/>{:: turnin} Sledge: Meet Shep
        - <i/>{:: accept} Sledge: The Mine Key
        - <i/>{:: accept} Get The Flock Outta Here
        - <i/>{:: accept} Braking Wind
        ^
        {: .aqua}
        - **L** <i/>{:: progress}
          - Sledge: The Mine Key
          - Braking Wind
        - **R** <i/>{:: progress}
          - Get The Flock Outta Here
          - Get A Little Blood On The Tires
          - **R** <i/>{:: challenge} Killing Spree
            - Restart at Lost Cave if facing badass Skags
        - Enter Lost Cave
        ^
        {: .green}
        - Save/Restart, then enter Arid Badlands
        {: .gold}
        </div>

        <div markdown="1" class="darkblue">
        - **L** <i/>{:: challenge} Killing Spree
          - Restart at Lost Cave again if facing badass Skags
        - **R** Heads for Outpost Arid Badlands
          - **R** <i/>{:: turnin} Sledge: The Mine Key
          - **R** <i/>{:: accept} Sledge: To The Safe House
        - **R** Drives to Fyrestone
          - **R** <i/>{:: turnin} Get A Little Blood On The Tires
        - **L** Enters Lost Cave
        ^
        {: .blue}
        - Farm until level 16
          - Buy Shield, Grenade SDU
          - Pick up: Shotgun ~280+ dmg, decent fire rate (dup)
        {: .cyan}
        </div>

        <div markdown="1" class="blue">
        - Head for Sledge's Safehouse
          - <i/>{:: progress} Sledge: To The Safe House
        - Head for Outpost Arid Hills
          - <i/>{:: turnin} Sledge: To The Safe House
          - <i/>{:: accept} Sledge: Battle For The Badlands
        - Drive to Headstone Mine
          - Save at the Sledge save point
          - <i/>{:: progress} Sledge: Battle For The Badlands
          - Pick up and dup: Sledge's Shotgun 
        - Enter Arid Badlands
        {: .pink}
        </div>

        <div markdown="1" class="crimson">
        - **R** Drives to Dahl Headlands "gate", **L** drives to Fyrestone
        - **L** <i/>{:: turnin} Sledge: Battle For The Badlands
        - **L** <i/>{:: accept} Leaving Fyrestone
        - **R** <i/>{:: progress} Leaving Fyrestone
        - **R** Enters Dahl Headlands
        ^
        {: .aqua}
        - **R**:
          - <i/>{:: turnin} Leaving Fyrestone
          - <i/>{:: accept} Big Game Hunter
          - <i/>{:: accept} Getting Lucky
        - **L** <i/>{:: progress} Big Game Hunter (get bait)
          - Leave the car at the Skagzilla exit
          - Then head to **R** at Lucky's "place"
        ^
        {: .green}
        - **R** <i/>{:: progress} Getting Lucky
        - <i/>{:: turnin} Getting Lucky
        - <i/>{:: complete} Powering The Fast Travel Network
          - **L** Drives (with the other car) to Dahl Headland Electrical Station
          - **R** jumps off at second Breaker, then first
        - Buy Shotgun SDU
        - <i/>{:: accept} Road Warriors: Hot Shots
        ^
        {: .gold}
        - Transport to left behind car
        - Farm Skagzilla until level 24 (23.5?)
          - **R** drives to the Skagzilla exit
          - **L** Farms red chest and shop for Soldier Leader classmod
        - Restart for classmod if missing
        {: .blue}
        </div>

        <div markdown="1" class="green">
        - <i/>{:: complete} Road Warriors: Hot Shots
        - <i/>{:: progress} Road Warriors: Bandit Apocalypse
        - Enter New Haven
        ^
        {: .cyan}
        - At New Haven:
          - **R** Leaves car at the generator outside New Haven main entrance
          - **L** <i/>{:: turnin} Road Warriors: Bandit Apocalypse
          - **L** <i/>{:: accept} Power To The People
          - **R** Activates Scooter, West Gate
            - **R** Then drives to Rust Commons West transition point
          - **L** Activates the rest
          - **L** <i/>{:: turnin} Power To The People
          - **L** <i/>{:: accept} Seek Out Tannis
        - **R** Enters Rust Commons West once **L** sits in her car again
        {: .pink}
        </div>
        
        <div markdown="1" class="red">
        - **L** Drives to The Underpass
          - **L** <i/>{:: turnin} Seek Out Tannis
          - **L** <i/>{:: accept} Meet 'Crazy' Earl
        - **R** Drives to The Outeryard
        - **R** Drives to Trecher's Landing transition point
          - **R** Enters Trecher's Landing once **L** is done
        ^
        {: .aqua}
        - Start checking for Corrosive, better Bouncing Betty, and Shield
        - Warp to The Outeryard
        - Enter Earl's Scrapyard
        - <i/>{:: turnin} Meet 'Crazy' Earl
        - <i/>{:: complete} Get Off My Lawn!
        - <i/>{:: accept} Hair Of The Dog
        - Warp to Trecher's Landing
        ^
        {: .green}
        - <i/>{:: progress} Hair Of The Dog
        - Warp to Earl's Scrapyard
        ^
        {: .gold}
        - <i/>{:: turnin} Hair Of The Dog
        - <i/>{:: accept} The Next Piece
        - Warp to The Underpass
        - Drive to and enter Rust Common East
        {: .blue}
        </div>

        <div markdown="1" class="orange">
        - **R** Drives:
          - To Outpost Middle of Nowhere,
          - Then to The Cauldron (by running through Jaynistown)
        - **L** Heads to Krom's Canyon
          - **L** attempts to reach the transition once **R** reach The Cauldron
        - <i/>{:: progress} The Next Piece
        - Warp to The Underpass
        ^
        {: .cyan}
        - **L** <i/>{:: turnin} The Next Piece
        - **L** <i/>{:: accept} Jaynistown: Secret Rendezvous
        - **R** Warp to The Cauldron
        ^
        {: .pink}
        - From The Cauldron:
          - **L** Heads to Taylor Kobb
          - **R** Heads to Claptrap
          - **L** <i/>{:: complete} Jaynistown: Secret Rendezvous
          - **L** <i/>{:: accept} Jaynistown: A Brother's Love
        - **L** Kills Jaynis Kobb with car
        - **R** Heads to Taylor Kobb
          - **R** <i/>{:: turnin} Jaynistown: A Brother's Love
          - **R** <i/>{:: accept} Jaynistown: Spread The Word
        - **L** Warps to New Haven
        {: .aqua}
        </div>

        <div markdown="1" class="green">
        - **L** Heads to the container
        - **R** <i/>{:: turnin} Jaynistown: Spread The Word
        - **R** <i/>{:: accept} Jaynistown: Getting What's Coming To You
        - **L** <i/>{:: turnin} Jaynistown: Getting What's Coming To You
        - **L** <i/>{:: accept} Jaynistown: Unintended Consequences
        - **R** <i/>{:: turnin} Jaynistown: Unintended Consequences
        - **R** <i/>{:: accept} Jaynistown: Cleaning Up Your Mess
        - **R** <i/>{:: accept} Smoke Signals: Investigate Old Haven
        - **R** Warps to The Cauldron
        ^
        {: .green}
        - <i/>{:: complete} Jaynistown: Cleaning Up Your Mess
        - <i/>{:: accept} Another Piece Of The Puzzle
        - Enter Trash Coast
        {: .gold}
        </div>

        <div markdown="1" class="orange">
        - <i/>{:: progress} Another Piece Of The Puzzle
        - Warp to The Underpass
          - **L** <i/>{:: turnin} Another Piece Of The Puzzle
          - **L** <i/>{:: accept} Not Without My Claptrap
          - **R** Warp to Trash Coast
        - Farm Rakk Hive twice more
        - Warp to The Cauldron
        {: .blue}
        </div>

        <div markdown="1" class="blue">
        - Drive to and enter Old Haven
        - <i/>{:: turnin} Smoke Signals: Investigate Old Haven
        - Restart if missing Corrosive, Bouncing Betty, or Shield
        - **L** <i/>{:: turnin} Not Without My Claptrap
        - **L** <i/>{:: accept} Final Piece
        - Exit Old Haven
        - Drive to and enter Salt Flats
        ^
        {: .cyan}
        - <i/>{:: complete} The Final Piece
        - <i/>{:: accept} Get Some Answers
        ^
        {: .pink}
        - Restart
        {: .aqua}
        </div>

        <div markdown="1" class="crimson">
        - Drive to and enter The Backdoor
        ^
        {: .green}
        - Buy Grenade SDU, and optionally Shotgun SDU
        - Kill McCloud
        - Enter Crimson Fastness
        ^
        {: .gold}
        - **R** <i/>{:: turnin} Get Some Answers
        - **L** <i/>{:: complete} Find the Echo Command Console
        - **L** <i/>{:: accept} Reactivate the Echo Comm System
        - Enter Crimson Enclave
        ^
        {: .blue}
        - <i/>{:: progress} Reactivate the Echo Comm System
          - **L** Activates the south tower
          - **R** Activates the north tower
          - Restart
          - **L** Activates the south tower again
          - **R** Enters Crimson Fastness
        ^
        {: .cyan}
        - **L** dies from Bouncing Betty grenades
          - **L** <i/>{:: turnin} Reactivate the Echo Comm System
        - **R** Enters Crimson Enclave,
          - Then Enters Crimson Fastness, and back to Crimson Enclave
          - <i/>{:: accept} (Automatically) Find Steele
        - Buy Grenades and HP packs
        - Warp to Salt Flats
        {: .pink}
        </div>
        
        <div markdown="1" class="darkblue">
        - Drive to and enter The Descent,
          - Enter Eridian Promontory,
          - Enter The Vault
        ^
        {: .aqua}
        - Restart for Skill Reset
        - Kill The Destroyer
        {: .green}
        </div>
