---
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Borderlands 1 coop route</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>

<div class="ribbon">
  <div class="specs">
    {% capture skills %}{% include_relative _content/skills.md %}{% endcapture %}{{ skills | markdownify }}
  </div>
</div>

<div class="script">
  {% capture route %}{% include_relative _content/route.md %}{% endcapture %}{{ route | markdownify }}
</div>

</body>
</html>
