---
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Borderlands 1 coop route</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>

<h1>Host Lilith, Client Roland</h1>

<div class="page">
  <div class="skills skills__lilith">
    {% capture skills_lilith %}{% include_relative _content/skills_lilith.md %}{% endcapture %}{{ skills_lilith | markdownify }}
  </div>

  <div class="route">
    {% capture route %}{% include_relative _content/route.md %}{% endcapture %}{{ route | markdownify }}
  </div>

  <div class="skills skills__roland">
    {% capture skills_roland %}{% include_relative _content/skills_roland.md %}{% endcapture %}{{ skills_roland | markdownify }}
  </div>
</div>

</body>
</html>
