@import 'reset';
@import 'grays';

body {
  font-size: 12px;
  line-height: 1.2;
}

.ribbon {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: white;
}

.specs {
  width: 1440px;
  height: 155px;
  display: flex;
}
.column {
  padding: 1em;
  min-width: 150px;
}
.lilith { background-color: lightcoral; }
.roland { background-color: steelblue; }

.route {
  margin-top: 155px;
  padding: 5px;
  height: 750px;
  @media (min-height: 970px) { height: 970px; }
  @media (min-height: 1170px) { height: 1170px; }
  column-width: 300px;
  column-gap: 0;

  &__chapter {
    padding: 1.5em;
    background-color: map-get($color-grays, 50);
    border: 1px solid black;

    & ul {
      padding: 1em;
      &:nth-child(odd) { background-color: map-get($color-grays, 120); }
      &:nth-child(even) { background-color: map-get($color-grays, 140); }
      
      li::before {
        content: "\2013\020"; /* en-dash, space */
      }

      ul:nth-child(n) {
        margin-left: 1em;
        padding: 0;
        background-color: unset;
      }
    }
  }
}

.i::before {
  width: 1em;
  height: 1em;
  content: ' ';
  display: inline-block;
  vertical-align: text-bottom;
}
.challenge::before { background-image: url('../icons/challenge.svg'); }
.accept::before { background-image: url('../icons/accept.svg'); }
.turnin::before { background-image: url('../icons/turnin.svg'); }
.complete::before { background-image: url('../icons/complete.svg'); }
.progress::before { background-image: url('../icons/progress.svg'); }
.transition::before { background-image: url('../icons/transition.svg'); }
.warp::before { background-image: url('../icons/warp.svg'); }
