@import 'reset';
@import 'grays';

$skills-width: 200px;
$route-width: 300px;

body {
  margin: 0;
  font-size: 12px;
  line-height: 1.2;
  font-weight: bold;
}

h1 {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: $skills-width;
}

.lilith-text { color: red; }
.roland-text { color: blue; }

.page {
  display: flex;
}

.skills {
  padding: 1.5em;
  width: $skills-width;
  height: 100%;
  position: fixed;
  top: 3.2em;
  &__lilith {
    left: 0;
    background-color: lightcoral;
  }
  &__roland {
    left: $skills-width + $route-width;
    background-color: steelblue;
  }

  ul {
    margin-bottom: 1em;
  }
}

.route {
  width: $route-width;
  margin-left: $skills-width;
  color: purple;

  &__chapter {
    padding: 1.5em;
    background-color: map-get($color-grays, 50);
    border: 1px solid black;

    & ul {
      padding: 1em;
      &:nth-child(odd) { background-color: map-get($color-grays, 120); }
      &:nth-child(even) { background-color: map-get($color-grays, 140); }
      
      li::before {
        content: "\2013\020"; /* en-dash, space */
        color: black;
      }

      ul:nth-child(n) {
        margin-left: 1em;
        padding: 0;
        background-color: unset;
      }
    }
  }
}

.i::before {
  width: 1em;
  height: 1em;
  content: ' ';
  display: inline-block;
  vertical-align: text-bottom;
}
.challenge::before { background-image: url('../icons/challenge.svg'); }
.accept::before { background-image: url('../icons/accept.svg'); }
.turnin::before { background-image: url('../icons/turnin.svg'); }
.complete::before { background-image: url('../icons/complete.svg'); }
.progress::before { background-image: url('../icons/progress.svg'); }
.transition::before { background-image: url('../icons/transition.svg'); }
.warp::before { background-image: url('../icons/warp.svg'); }
